@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header{
    background-color:  #222222;
    height: 38px; 
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0px;
    color:white;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
/*HASTA ACÁ LO DEL HEADER----------------------------*/

.encabezado
{
    background-color:#F0A83E;
    height: 62px;
    width:auto;
}

.logo
{
    position: absolute;
    left: 50px;
    top: 65px;
}

.logo
{
    position: absolute;
    left: 50px;
    top: 65px;
}

span.alignright
{
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 17px;
}

.banner
{
    background-image: url('/img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
    width: 100%;
    margin-top: 0px;
}

section.banner p
{   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    right: 200px;
    top: 315px;
}
section.banner div
{   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    background-color: white;
    height: 50px;
    line-height: 45px;
    border-radius: 5px;

    position: absolute;
    right: 130px;
    top: 235px;
}

a
{
    background-color: #F0A83E;
    border-radius:5px;
    color:white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 38.52px; 
    text-decoration: 0;
    width: 111.78px;
    line-height: 35px;
    position: absolute;
    left: 1000px;
    top: 365px;
    /*cómo poner el texto en el centro*/
}

