@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

header{
    background-color: #1CD1B0;
    height: 38px; 
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0px;
}

header p
{
    padding: 10px;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    background-color: #00669F;
    margin: 0px;
    padding: 17px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

section div p{
    height: 113px;
    width: 267px;
    left: 48px;
    top: 604px;
    border-radius: nullpx;
    

}

footer{
    background-color:#00669F ; 
    height: 51px;
    position: fixed;
    width:1300px;
    bottom: 0px;

}

section{text-align: center;}

section div{
    display: inline-block; 
    margin:154px 30px 151px;
    position:relative;
}

.img1{
    border-radius: 16px 16px 0px 0px;
    z-index: 0;
    position: relative;}

.img2{
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    bottom:160px; 
    right: 90px;
}
