@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url('/img/bg-tablet-pattern.svg');
    background-size: contain     ;
}
.graficos{
    width: 100vw;
}
/*Header -- Solo contiene titulo y ///Hamburguesa */
header{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    padding: 0 2rem;
}
nav.headerDesktop,a.aheaderDesktop{
    display: none;
}
/*Seccion Presentacion*/ 
.graficos{
    display: flex;
    width:100vw;
    flex-direction: column;
}
section.presentacion{
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1,h2{
    color:#232c51;
    font-size:  4rem;
    padding: 0 1.5rem;
    text-align: center;
}
section.presentacion p{
    color:gray;
    font-size: 1.7rem;
    line-height: 2.7rem;
    padding: 1rem 3rem 3rem;
    text-align: center;
}
section.presentacion a,section.opiniones a{
    background-color: #F3603B;
    border-radius: 50px;
    color: white; 
    font-weight: bold;
    padding:1.4rem 3rem; 
    margin: 0 0 10rem 0;
    text-align: center;
    text-decoration: none;
    width: 12.4rem; 
} 
h2{
    font-size: 3rem;
    padding: 0 4rem;
    }
    
section.diferenciacion p{
    color:gray;
    font-size: 1.4rem;
    line-height: 2.7rem;
    padding: 1rem 3rem 3rem;
    text-align: center;
}
section.items{
    margin-top: 5rem;
}
section.items p{
    color:gray;
    font-size: 1.4rem;
    line-height: 2.7rem;
    padding-right: 2rem;
    text-align: left;
}
.item1,.item2,.item3{
margin-bottom: 5rem;
}

section.items a{
    align-items: center;
    background-color: #F3603B;
    border-radius: 30px;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1.4rem 3rem;
    justify-content: center;
    text-decoration: none;
    width: 7.5rem; 
    z-index: 1;
}
div.titulo{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
div.titulo h3{
    align-items: center;
    background-color:rgb(248, 225, 222);
    color: #232c51;
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    height:4rem;
    margin-left: -1.5rem;
    padding-left: 3rem;
    width: 100vw;
}

section.opiniones{
    align-items: center;
    display: flex;
    flex-direction: column;
}
section.opiniones img{
    height: 6.5rem;
    margin-top: 5rem;
    width: 6.5rem;
    z-index: 1;
}

div.cuadro{
    background-color:rgb(249, 249, 249); 
    height: 20rem;
}

div.cuadro{
    margin-top: -3.2rem;
}
div.cuadro span{    
    color: #232c51;
    display: flex;
    font-weight: bold; 
    font-size: 1.4rem;
    justify-content: center;
    margin-top: 5rem;

}
div.cuadro p{
    color:#B9B9C1;
    font-size: 1.4rem;
    line-height: 2.7rem;
    padding-right: 2rem;
    padding-top: 6px;
    text-align: center;
}
#icon{
    color: salmon;
}
section.opiniones a{
    margin: 3rem 0 4rem;
}
section.final{
    align-items: center;
    background-color: #F3603B;
    background-image: url('/img/bg-simplify-section-desktop.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 45rem;
    justify-content: center;
}
section.final p{
    color: white;
    font-size:  4rem;
    font-weight: bold;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}
section.final a{
    align-items: center;
    background-color: white;
    border-radius: 30px;
    color: #F3603B;
    display: flex;
    font-weight: bold; 
    padding: 1.4rem 3rem;
    justify-content: center;
    margin-top: 3rem;
    text-decoration: none;
    width: 12.4rem;  
}

footer{
    align-items: center;
    background-color: black; 
    display: flex;
    flex-direction: column;
    height: 60rem;
    justify-content: space-around;
}

.boxFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav.nav-footer{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}
ul{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
ul a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

div.iconos{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top:5rem ;
    width: 100vw;
}

footer p{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 5rem;
}

footer p::before{
    content: url('/img/puntitos.png');
    padding-right: 1rem;
}
form{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
    width: 100vw;
}
form input{
    border: none;
    border-radius: 5rem;
    height: 4rem;
    padding-left: 2rem;
    width: 65vw;
}
footer button{
    align-items: center;
    border-radius: 30px;
    background-color: #F3603B;
    border: none;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 1.7rem;
    height:4rem;
    justify-content: center;
    text-decoration: none;
    width: 7.5rem; 
}

li:hover{
    padding:1rem;
    transition: 0.3s;
}

button:hover{
    background-color:lightgray  ;
} 

button:focus{
    background-color:#232c51;
    color: #F3603B;
}
    
.icon{
    animation: float 5s ease-in-out infinite;
}
.fa-youtube{
    animation-delay: 1s;
}
.fa-twitter{
    animation-delay: 2s;
}
.fa-pinterest{
    animation-delay: 3s;
}
.fa-instagram{
    animation-delay: 4s;
}
@keyframes float{ 
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.5rem);
    }
    100%{
        transform:translateY(0);
    }
}

footer article{
    color: grey;
    font-size: 1rem;
    padding-top: 2rem;
}

div.hidden{
    display: none;
}

@media (min-width:420px)
{
    header{
        justify-content: space-around;
        align-items: center;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center ;
    }
    .icon-hamburger{
        display: none;
    }
    nav.headerDesktop{
        color: #242E52;
        display: flex;
        font-size: 1.3rem;
        font-weight: 500;
        gap: 2rem;
    }
    nav.headerDesktop a{
        text-decoration: none;
        color: #242E52;
    }
    a.aheaderDesktop{
        align-items: center;    
        background-color: #F3603B;
        border-radius: 50px;
        color: white;   
        display:flex;
        font-weight: bold;
        height:4rem;    
        justify-content: center;
        width: 12.4rem; 
        text-decoration: none;
    }  
    section.presentacion{
        order: -1;
        width:47%;
        height: fit-content; 
        justify-content: flex-start;
        align-items: flex-start;
    }
    section.presentacion h1{
        width: 75%;
    }
    section.presentacion h1, section.presentacion p{
        text-align: left;
    } 
    section.presentacion p{
        margin: 2rem 0;
        padding: 0 0 0 1.5rem;
        width: 75%;
    }
    .presentacion{
        width: 47vw;
    }
    .graficos{
        width: 32vw;
    }

    section.presentacion a{
        margin: 0 10rem; 
    }
    a{
        transition:450ms;
    }
    a:hover{
        transform: scale(1.3);
    }
    .box{
        display: flex;
        width: 79vw;
        margin-top: 5rem;
    }
    .items{
        width: 50%;
    }
    section.items{
        margin: 0rem;
    }
    .diferenciacion{
        height: fit-content;
        width: 60%;
        margin-right: 5rem;
    }
    .diferenciacion h2{
        text-align: left;
        justify-content: flex-start;
        padding: 0 0 0 1.5rem;
    }
    section.diferenciacion p{
        text-align: left;
        padding-left:1.5rem
    }







    section.final{
        width: 100vw;
        height: 20rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    section.final p,section.final a{
        padding: 0;
        margin: 0;
    }
    section.final p{
        width: 30vw;
        font-size: 3rem;
        text-align: left;
    }
    section.final a{   
        padding:1.4rem 3rem;
    }

    footer{
        flex-direction: row;
        width: auto;
        height: 20rem;
        align-items: center;
    }      
    div.iconos {
        width: 20vw;
        order: 1;
        justify-content: center;
        gap: 1rem;
    }
    footer p{
        padding: 0;
    }
    nav.nav-footer{
        order: -1;
    }
    i.fa-brands{
        font-size: 2rem;
    }
    div.boxFooter{
        order:-2;
    }
    form input{
        width: fit-content;
    }
    article.mobile, form.form{
        display: none;
    }
    div.hidden{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 3rem;
    }
    form.hidden{
        width: fit-content;
        gap: 1rem;
    }
}