@import url(https://use.fontawesome.com/releases/v6.1.0/css/all.css);

.container {
    border: 2px solid black;
    height: 80px;
    width: 100%;
    opacity: 1;
    margin-bottom: 20px;;
}

.fondo {
    background-image: url('/img/banner.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    }

.imgcv {
        border: 1px solid #ddd;/*le agrega borde a la imagen*/
        border-radius: 4px;/*redondea el borde de la imagen*/
        padding: 5px;/*Crea el espacio entre el borde y la imagen propiamente dicha*/
        width: 100px;/*Achica la imagen*/
        display: block;/*me permite tratarlo como*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;}



