/*-------------------------------------------------------------------------------------------------
                        **************** INICIO ENCABEZADO ****************
---------------------------------------------------------------------------------------------------*/
header{
    margin-bottom: 2rem;

    nav{
        padding-top: 1rem;

        ul{
            list-style: none;
            display: flex;
            gap: 2rem;

            a{
                padding: 1.5rem;
                color: white;
                text-decoration: none;
                color: $color-secundario;
                border-radius: 1em;

                &:hover{
                    background-color: $color-primario;
                }
            }
        }
    }
}
/*-------------------------------------------------------------------------------------------------
                        **************** FIN ENCABEZADO ****************
---------------------------------------------------------------------------------------------------



*/




